@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">THIS IS A WEBSITE</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/YxS4lqppZ6Y?si=F5FqokrqXWdjKmDf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <div id="myContainer">
        <button onclick="myMove()">Click Me</button>
        <div id="myAnimation">Animation</div>
    </div>



</div>
